.settings-container {
    grid-row: 3;
    width: 80%;
    justify-self: center;
}

.settings-title-main {
    grid-row: 1;
    display: inline-block;
    height: fit-content;
    font-size: 1.4rem;
    width: 80%;
    align-self: end;
    justify-self: center;
}

.settings-subtitle {
    font-size: 1rem;
}

.settings-maintext {
    font-size: 0.8rem;
}

.settings-title {
    font-size: 1.2rem;
}

.settings-title:not(:first-of-type) {
    margin-top: 50px !important;
}

.card[data-information-card].card[data-information-reversed] {
    background-color: #101828;
    color: #f3f4f6;
}

.card[data-information-card].card[data-information-reversed] .card-content::before {
    content: "";
}

.card[data-information-card] {
    grid-template-columns: 10px 1fr 10px;
}

.card[data-information-card] > .card-chevron {
    display: none;
}

.card[data-information-card] > .card-content {
    display: flex;
    justify-content: space-between;
}

.card[data-settings-card] {
    grid-template-columns: 10px 1fr 50px 10px;
}

.card[data-settings-card].card-expanded {
    grid-template-columns: 10px 1fr 50px 10px !important;
    grid-template-rows: 25px 25px 1fr !important;
}

.card[data-settings-card].card-expanded > .card-hidden {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2 / span 2;
    color: rgb(82, 82, 82) !important;
}

.card[data-settings-card] > .card-hidden > .card-settings-key[data-expand] {
    grid-column: 1 / span 2;
    height: 100%;
}

.card[data-settings-card] > .card-hidden > .card-settings-key {
    display: flex;
    justify-content: left;
    height: 100%;
    filter: blur(8px);
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
}

.card[data-settings-card] > .card-hidden > .card-settings-value {
    display: flex;
    justify-content: right;
}

.unveil {
    filter: none !important;
}

.card-settings-key[data-fit-align], .card-settings-value[data-fit-align] {
    height: fit-content;
    align-items: center;
}

.card-settings-key > *, .card-settings-value {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .settings-title-main, .settings-container {
        width: 90% !important;
    }
}